.outerLayout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.layout {
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow: hidden;
}

.content {
  flex: 1;
  overflow: hidden;
}

.content.scrolling {
  overflow: auto;
}
