.breadcrumbs {
  --bs-breadcrumb-divider: ">";

  margin-bottom: 0 !important;
  min-width: 0;
  overflow: hidden;
  width: max-content;
  display: flex;
  flex-wrap: nowrap;
}

.ellipsis {
  color: var(--bs-secondary);
  font-weight: normal;
}

.pathContainer {
  overflow-x: hidden;
}

.pathLink {
}

.pathSegment {
}
