.chip {
  display: inline-flex;
  flex-direction: row;
  margin: 0.2rem;
  padding: 0.1rem 0.5rem;
  border: solid 1px var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  font-family: var(--bs-font-monospace);
}

.label {
  font-weight: 600;
  margin-right: 0.5em;
}
