.container {
  display: grid;
  grid-template-columns: max-content max-content minmax(0, max-content);
  align-items: center;
  border: solid 1px var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  width: 100%;
}

.labelContainer {
  border-right: solid 1px var(--bs-border-color);
  padding: 0 0.45rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.labelAdornmentIcon {
  margin-left: 0.5rem;
}

.icon {
  color: var(--bs-body-color);
  opacity: 0.7;
  margin-right: 0.35rem;
}

.text {
  color: var(--bs-body-color);
  white-space: nowrap;
  cursor: text;
  padding: 0.125rem 0.25rem;
  border-top-right-radius: var(--bs-border-radius);
  border-bottom-right-radius: var(--bs-border-radius);
  transition: background-color 0.2s;
  min-width: 2ch;
  display: inline-block;
  background-color: var(--bs-body-bg);
}

.text.readOnly {
  background-color: var(--bs-light);
}

.text:hover {
  background-color: var(--bs-secondary-bg);
}

.text:focus {
  outline: 1px solid var(--bs-primary);
  outline-offset: 0;
  background-color: var(--bs-body-bg);
}

.text.placeholder {
  color: var(--bs-secondary-color);
  opacity: 0.6;
}

.text.secondary {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mruPopover {
  padding: 0 !important;
  max-height: 300px;
  overflow-y: auto;
  width: 80%;
}

.mruList {
  display: flex;
  flex-direction: column;
  min-width: 150px;
}

.mruItem {
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color 0.15s;
  color: var(--bs-body-color);
}

.mruItem:hover,
.mruItemSelected {
  background-color: var(--bs-secondary-bg);
}

.mruItem:active {
  background-color: var(--bs-tertiary-bg);
}

.mruItem:first-child {
  border-top-left-radius: var(--bs-border-radius);
  border-top-right-radius: var(--bs-border-radius);
}

.mruItem:last-child {
  border-bottom-left-radius: var(--bs-border-radius);
  border-bottom-right-radius: var(--bs-border-radius);
}
