.cite {
  color: var(--bs-primary-text-emphasis);
  text-decoration: underline;
  text-decoration-style: dashed;
  cursor: pointer;
}

.cite:hover {
  text-decoration-style: solid;
  background-color: var(--bs-primary-bg-subtle);
}
