.header {
  background: var(--bs-light);
  display: grid;
  grid-template-columns: 1fr max-content;
  justify-content: space-between;
  padding: 0.2em 0.5em;
  overflow: hidden;
}

.header .bordered {
  border-bottom: solid var(--bs-border-color) 1px;
}

.left {
  overflow: hidden;
  min-width: 0;
  max-width: 100%;
}

.hasChildren {
  border-left: solid var(--bs-border-color) 1px;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
}
