.header {
  background: var(--bs-light);
  display: grid;
  grid-template-columns: max-content 1fr max-content max-content;
  justify-content: space-between;
  padding: 0.2em 0.5em;
  overflow: hidden;
}

.bordered {
  border-bottom: solid var(--bs-border-color) 1px;
}

.left {
  overflow: hidden;
  min-width: 0;
  max-width: 100%;
}

.leftButtons {
  display: flex;
  gap: 0.4rem;
  align-items: baseline;
  padding-right: 0.4rem;
  margin-right: 0.4rem;
  border-right: solid var(--bs-border-color) 1px;
}

.rightButtons {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  padding-left: 0.4rem;
  margin-left: 0.4rem;
  border-left: solid var(--bs-border-color) 1px;
}

.hasChildren {
  border-left: solid var(--bs-border-color) 1px;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
}
