.projectBar {
  display: flex;
  flex-direction: column;
  background: var(--bs-light);
  border-bottom: solid 1px var(--bs-border-color);
  min-height: 2em;
  padding: 0.1rem 0.3rem;
  row-gap: 0;
  align-items: center;
  justify-content: center;
}

.row {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  column-gap: 0.5rem;
  width: 100%;
  height: 100%;
}

.center,
.right {
  font-size: var(--inspect-font-size-small);
}

.center {
  grid-column: 2;
  justify-self: center;
  display: flex;
  align-items: center;
  font-weight: 500;
}

.right {
  grid-column: 3;
  justify-self: end;
  display: flex;
  align-items: center;
}

.projectButton {
  display: inline-flex;
  align-items: center;
  font-size: var(--inspect-font-size-small);
  line-height: 1;
  padding: 0.18rem 0.4rem;
}
