.breadcrumbs {
  --bs-breadcrumb-divider: ">";

  border-left: solid var(--bs-border-color) 1px;
  padding-left: 0.5em !important;
  margin-bottom: 0 !important;
  min-width: 0;
  overflow: hidden;
  width: max-content;
  display: flex;
  flex-wrap: nowrap;
}

.leftContainer {
  display: grid;
  grid-template-columns: max-content max-content max-content 1fr;
  column-gap: 0.5rem;
  align-items: baseline;
}

.ellipsis {
  color: var(--bs-secondary);
  font-weight: normal;
}

.toolbarButton {
  color: var(--bs-body-color);
}

.toolbarButton:hover {
  color: var(--bs-link-hover-color);
}

.pathContainer {
  overflow-x: hidden;
}

.divider {
  background-color: var(--bs-border-color);
  width: 1px;
  height: 100%;
}
