.leftContainer {
  display: grid;
  grid-template-columns: max-content max-content max-content 1fr;
  column-gap: 0.5rem;
  align-items: baseline;
}

.divider {
  background-color: var(--bs-border-color);
  width: 1px;
  height: 100%;
}
