.result {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 8px 4px;
  height: 1rem;
  font-size: 0.7rem;
}

.true {
  border: solid var(--bs-success) 1px;
  color: var(--bs-success);
}

.false {
  border: solid var(--bs-danger) 1px;
  color: var(--bs-danger);
}

.resultContainer {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 0.2rem;
}

.targetValue {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
  margin-left: 0.4rem;
}
