.boolean {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 8px;
  width: 2.5rem;
  height: 1rem;
  font-size: 0.7rem;
}

.true {
  background-color: var(--bs-success);
  border: solid var(--bs-success) 1px;
  color: var(--bs-body-bg);
}

.false {
  background-color: var(--bs-danger);
  border: solid var(--bs-danger) 1px;
  color: var(--bs-body-bg);
}

.valueTable {
  display: grid;
  grid-template-columns: max-content auto;
  column-gap: 1rem;
  row-gap: 0rem;
}

.inline .valueValue {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.inline .valueValue p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

pre.value {
  margin: 0;
}
