.container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.select {
  min-width: 200px;
}

.loading {
  color: var(--vscode-descriptionForeground);
  font-style: italic;
}

.error {
  color: var(--vscode-errorForeground);
}
