.scanTitleView {
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: space-between;
  column-gap: 1em;
  border-top: solid 1px var(--bs-border-color);
  padding: 0.5em;
}

.leftColumn {
  display: grid;
  grid-template-columns: max-content max-content 1fr;
  align-items: baseline;
  row-gap: 0.2em;
  column-gap: 0.5em;
}

.scanTitleView h1 {
  margin: 0;
  font-weight: 600;
  font-size: 1.3em;
}

.scanTitleView h2 {
  margin: 0;
  font-weight: 500;
  font-size: 1em;
  color: var(--bs-secondary-text-color);
}

.scanTitleView h3 {
  margin: 0;
  font-size: 0.8em;
  font-weight: 400;
  color: var(--bs-secondary-text-color);
}

.subtitle {
  grid-column: 1 / -1;
}
