.scannerHeaderRow {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 0.5em;
  margin-bottom: 1em;
}

.controls {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: 0.5em;
}

.gridWrapper {
  height: 100%;
  width: 100%;
}

/* Hide sort index numbers in multi-column sort */
.gridWrapper :global(.ag-header-cell .ag-sort-order) {
  display: none;
}

/* Set line height for grid cells */
.gridWrapper :global(.ag-cell) {
  line-height: 1.1em;
}
