.container {
  border-right: solid 1px var(--bs-border-color);
}

.entry {
  padding: 0.5em;
}

.entry.selected {
  background-color: var(--bs-secondary-bg);
}

.selected > .title {
  font-weight: 600;
}

.entry:hover {
  color: var(--bs-link-hover-color);
  cursor: pointer;
}
