.container {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  column-gap: 0.5em;
  align-content: start;
  border-right: solid 1px var(--bs-border-color);
  padding: 0.5em;
}

.entry {
  display: contents;
}

.selected {
  font-weight: 600;
}

.entry:hover {
  color: var(--bs-link-hover-color);
  cursor: pointer;
}
