.header {
  padding-left: 1rem;
  padding-right: 1rem;
  display: grid;
  padding-bottom: 1rem;
  padding-top: 1rem;
  border-top: solid var(--bs-light-border-subtle) 1px;
  column-gap: 1rem;
  grid-template-rows: max-content max-content;
}

.oneCol {
  grid-template-columns: auto;
}

.twoCol {
  grid-template-columns: auto auto;
}

.threeCol {
  grid-template-columns: auto auto auto;
}

.fourCol {
  grid-template-columns: auto auto auto auto;
}

.fiveCol {
  grid-template-columns: auto auto auto auto auto;
}

.sixCol {
  grid-template-columns: auto auto auto auto auto auto;
}
