.result {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 8px;
  width: 3rem;
  height: 1rem;
  font-size: 0.7rem;
}

.true {
  border: solid var(--bs-success) 1px;
  color: var(--bs-success);
}

.false {
  border: solid var(--bs-danger) 1px;
  color: var(--bs-danger);
}
