.boolean {
  font-family: "Consola Regular";
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 8px;
  width: 2.5rem;
  height: 1rem;
}

.true {
  background-color: var(--bs-success);
  border-color: var(--bs-success);
  color: var(--bs-body-bg);
}

.false {
  background-color: var(--bs-danger);
  border-color: var(--bs-danger);
  color: var(--bs-body-bg);
}
