.scannerHeaderRow {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 0.5em;
  margin-bottom: 1em;
}

.controls {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: 0.5em;
}

.scrollContainer {
  overflow-y: auto;
}
