.card {
  position: relative;
  border: solid 1px var(--bs-border-color);
  cursor: pointer;
}

.header {
  background-color: var(--bs-secondary-bg);
  padding: 0.625rem;
  display: grid;
  grid-template-columns:
    max-content minmax(0, max-content) auto minmax(0, max-content)
    max-content;
  column-gap: 0.3em;
  align-items: baseline;
}

.icon {
  font-size: 0.9em;
}

.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.meta {
  white-space: nowrap;
  justify-self: end;
}

.disclosure {
  font-size: 0.8em;
  margin-left: 0.3em;
}

.card:hover .header,
.card:hover .description {
  background-color: var(--bs-secondary-bg-subtle);
}

.description {
  background-color: var(--bs-secondary-bg);
  padding: 0 0.625rem 0.625rem;
  font-size: 0.85em;
}

.result {
  padding: 0.625rem;
  cursor: default;
}
