.gridWrapper {
  height: 100%;
  border-top: solid 1px var(--bs-border-color);
}

/* Hide sort index numbers in multi-column sort */
.gridWrapper :global(.ag-header-cell .ag-sort-order) {
  display: none;
}

.row {
  cursor: pointer;
}

.green {
  color: var(--bs-success);
}

.red {
  color: var(--bs-danger);
}

.yellow {
  color: var(--bs-warning);
}

.blue {
  color: var(--bs-info);
}
