.resultNav {
  display: grid;
  grid-template-columns: max-content auto max-content;
  align-items: center;
  gap: 0.5rem;
  margin-right: 1em;
}

.nav:hover:not(.disabled) {
  cursor: pointer;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}
