.root {
  height: 100%;
  display: grid;
  grid-template-rows: max-content max-content max-content 1fr;
}

.scroller {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.tabSet {
  border-top: solid 1px var(--bs-border-color);
  flex: 1;
  min-height: 0;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

.tabControl {
  margin: 0.2rem;
}

.tabs {
  margin-right: 1rem;
}

.fullHeight {
  height: 100%;
}

.contentArea {
  display: flex;
  flex-direction: row;
  flex: 1;
  min-height: 0;
  overflow: hidden;
}

.tabSetWrapper {
  flex: 1;
  min-width: 0;
  min-height: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.withValidation {
  border-top: solid 1px var(--bs-border-color);
}

.validationSidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
  width: 280px;
  min-width: 200px;
  flex-shrink: 0;
  border-left: 1px solid var(--bs-border-color);
  background-color: var(--bs-body-bg);
  overflow-y: auto;
}
