.header {
  padding-left: 1rem;
  padding-right: 1rem;
  display: grid;
  padding-bottom: 1rem;
  padding-top: 1rem;
  border-top: solid var(--bs-light-border-subtle) 1px;
  column-gap: 1rem;
  grid-template-rows: max-content max-content;
}

.value {
  word-wrap: break-all;
  overflow-wrap: break-word;
}

.oneCol {
  grid-template-columns: minmax(0, auto);
}

.twoCol {
  grid-template-columns: minmax(0, auto) minmax(0, auto);
}

.threeCol {
  grid-template-columns: minmax(0, auto) minmax(0, auto) minmax(0, auto);
}

.fourCol {
  grid-template-columns: minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(
      0,
      auto
    );
}

.fiveCol {
  grid-template-columns:
    minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto)
    minmax(0, auto);
}

.sixCol {
  grid-template-columns:
    minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto)
    minmax(0, auto) minmax(0, auto);
}
