.container {
  display: grid;
  grid-template-rows: max-content max-content 1fr;
  height: 100vh;
}

.transcriptContainer {
  overflow-y: auto;
  width: 100%;
  min-height: 0;
}

.splitLayout {
  height: 100%;
  width: 100%;
}

.validationSidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-left: 1px solid var(--bs-border-color);
  background-color: var(--bs-body-bg);
  overflow-y: auto;
}
