.tabContainer {
  display: grid;
  grid-template-rows: max-content minmax(0, 1fr);
  height: 100%;
}

:global(.nav).tabs {
  border-bottom: solid 1px var(--bs-border-color);
  padding-bottom: 0.25rem;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  position: sticky;
  z-index: 999;
  top: 0;
  background-color: var(--bs-body-bg);
}

:global(.nav).tabs :global(.nav-link) {
  padding: 0.3rem 0.5rem;
  font-size: var(--inspect-font-size-smallest) !important;
}

.chatTab > * > * {
  padding: 0.5rem;
}

.chatTab {
  padding-bottom: 50px;
}

.metadata {
  padding: 0.5rem;
  padding-bottom: 50px;
}

.scrollable {
  overflow-y: auto;
  min-height: 0;
  height: 100%;
}

.eventsSeparator {
  background-color: var(--bs-border-color);
}

.eventsList {
  padding-bottom: 1rem;
}

.eventsContainer {
  display: grid;
  width: 100%;
  grid-template-columns: 180px 1px 1fr;
  min-height: 100vh;
  transition: grid-template-columns 0.3s ease;
  padding-bottom: 44px;
}

.eventsContainer.outlineCollapsed {
  grid-template-columns: 28px 1px 1fr;
}

.eventsTab {
  display: flex;
}

.eventsOutline {
  padding-left: 0.5rem;
  padding-top: 0.8rem;
}

.outlineToggle {
  cursor: pointer;
  font-size: 0.8em;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

.tabTool {
  font-size: var(--inspect-font-size-smallestest) !important;
  padding: 0.1rem 0.4rem !important;
}
