.tabContainer {
  display: grid;
  grid-template-rows: max-content 1fr;
}

:global(.nav).tabs {
  border-bottom: solid 1px var(--bs-border-color);
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.tabSet {
  height: 100%;
}

.chatTab {
  height: 100%;
}

.chatTab > * > * {
  padding: 0.5rem;
}
