.row {
  border-bottom: solid 1px var(--bs-border-color);
  padding: 0.5rem 1rem 1rem 1rem;
  max-height: 200px;
}

.row.noExplanation {
  max-height: 100px;
}

.row:hover {
  cursor: pointer;
}

.row.disabled {
  opacity: 0.7;
}

.row.disabled:hover {
  cursor: default;
}

.result {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  justify-content: space-between;
}

.id {
  font-weight: 600;
}

.model {
  text-align: right;
}

.label {
  overflow-wrap: break-word;
}

.explanation {
  overflow: hidden;
  text-overflow: ellipsis;

  grid-column: span 2;
  max-height: calc(160px - 3rem);
}

.row.selected {
  background-color: rgba(var(--bs-secondary-rgb), 0.07);
}

.link {
  color: var(--bs-body-color);
  text-decoration: none;
}

.link:hover {
  color: var(--bs-body-color);
}

.error {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: calc(160px - 3rem);
}
