.container {
  height: 100%;
  overflow: auto;
}

.table {
  display: grid;
  width: 100%;
}

.thead {
  display: grid;
  position: sticky;
  top: 0;
  z-index: 1;
  background: var(--bs-light);
  border-bottom: 1px solid var(--bs-border-color);
  border-top: 1px solid var(--bs-border-color);
}

.headerRow {
  display: flex;
  width: 100%;
}

.headerCell {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  padding: 4px 0px 4px 8px;
  text-align: left;
  font-weight: 500;
  color: var(--bs-secondary);
  font-size: 12px !important;
}

.headerSeparator {
  margin-top: 4px;
  margin-bottom: 4px;
  background: var(--bs-border-color);
  width: 1px;
  height: 100%;
}

.headerCell:last-child {
  border-right: none;
}

.tbody {
  display: grid;
  position: relative;
}

.row {
  display: flex;
  position: absolute;
  width: 100%;
  border-bottom: 1px solid var(--bs-border-color);
  background: var(--bs-body-bg);
  transition: background-color 0.15s ease;
}

.row:hover {
  background: var(--bs-light-bg-subtle);
}

.cell {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px !important;
}

.cell:last-child {
  border-right: none;
}

.cellCenter {
  justify-content: center;
}

.headerCellCenter {
  justify-content: center;
}

.green {
  color: var(--bs-success);
}

.red {
  color: var(--bs-danger);
}
