.container {
  display: flex;
  flex-direction: row;
  background: var(--bs-light-bg-subtle);
  border-bottom: solid var(--bs-border-color) 1px;
  padding: 0rem 0.5rem;
  align-items: flex-start;
  width: 100%;
}

.filterBar {
  margin: 1px 0;
}

.filterLabel {
  margin-right: 0.3rem;
}

.filterNone {
}

.actionButtons {
  margin-left: auto;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  font-size: var(--inspect-font-size-smallestest);
}

.actionButton {
  padding: 0.1rem 0.4rem;
  margin: 1px 0rem;
  font-size: var(--inspect-font-size-smallestest);
}

.actionButtonDropDown {
  font-size: var(--inspect-font-size-smallestest);
}

.actionButton.chipButton {
  background-color: unset;
  margin-left: 0.3rem;
}

.sep {
  width: 1px;
  height: calc(100% - 4px);
  margin: 2px 0.3rem;

  background-color: var(--bs-border-color);
  font-size: var(--inspect-font-size-smallestest);
}
