.labeledValue {
  display: flex;
  justify-content: flex-start;
}

.labeledValue.row {
  flex-direction: row;
}

.labeledValue.column {
  flex-direction: column;
}

.labeledValue.row .labeledValueLabel {
  margin-right: 0.5em;
}
