.container {
  display: grid;
  grid-template-columns: 1fr max-content;
  column-gap: 0.3em;
  border: solid var(--bs-border-color) 1px;
  border-radius: var(--bs-border-radius);
  background-color: var(--inspect-input-background);
  align-items: center;
  overflow: hidden;
}

.container:focus-within {
  outline: 2px solid var(--bs-primary);
  outline-offset: 2px;
}

.input {
  border: none;
  outline: none;
  background: transparent;
  color: var(--bs-body-color);
  min-width: 0;
}

.withIcon {
  grid-template-columns: max-content 1fr max-content;
}

.icon {
  margin-left: 0.3em;
}

.clearText {
  opacity: 0.6;
  margin-right: 0.3em;
}

.clearText:hover {
  cursor: pointer;
}

.clearText.hidden:hover {
  cursor: default !important;
}
.hidden {
  opacity: 0 !important;
}
