.container {
  border-right: solid 1px var(--bs-border-color);
}

.entry {
  padding: 0.5em;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 0.5rem;
}

.entry.selected {
  background-color: var(--bs-secondary-bg);
}

.titleBlock {
  margin-bottom: 0.1rem;
  grid-column: 1 / -1;
}

.validations {
  margin-top: 0.3rem;
  grid-column: 1 / -1;
}

.subTitle {
  margin-top: -0.2rem;
  max-height: 2rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* adjust based on your line-height */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}

.selected .title {
  font-weight: 600;
}

.entry:hover {
  color: var(--bs-link-hover-color);
  cursor: pointer;
}

.numericResultTable {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 0.5rem;
  row-gap: 0;
}

.contents {
  display: contents;
}
