.container {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 1fr max-content;
  height: 100%;
  width: 100%;
}

.footer {
  grid-column: 1 / -1;
}

.breadcrumbs {
  min-width: 600px !important;
}
