.root {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  height: 100%;
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: 200px 1fr;
  height: 100%;
  width: 100%;
}

.breadcrumbs {
  min-width: 600px !important;
}
