.container {
  height: 100%;
  display: grid;
  grid-template-rows: max-content max-content 1fr;
  padding: 0.75rem 1rem;
}

.header {
  font-size: var(--inspect-font-size-large);
  font-weight: 600;
}

.detail {
  font-size: var(--inspect-font-size-small);
  color: var(--bs-secondary);
}
