.container {
  padding: 1rem;
}

.colspan {
  grid-column: span 2;
}

.explanation {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 0.5rem;
  row-gap: 0.75rem;
}

.scanValue {
  padding-right: 0.5rem;
}
