.container {
  padding: 1rem;
}

.colspan {
  grid-column: span 2;
}

.explanation {
  display: grid;
  grid-template-columns: 1fr max-content;
  column-gap: 0.5rem;
}

.scanValue {
  padding-right: 0.5rem;
}
