.container {
  padding: 1rem;
}

.colspan {
  grid-column: span 2;
}

.explanation {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 1rem;
  row-gap: 0.75rem;
}

.scanValue {
  padding-right: 0.5rem;
}

.values {
  display: grid;
  grid-template-columns: max-content auto;
  column-gap: 0.5rem;
}

.validation {
  margin-left: 1rem;
  display: grid;
  grid-template-columns: max-content max-content;
}

.validationLabel {
  padding-right: 0.5rem;
  margin-top: 2px;
}
