.header {
  border-bottom: solid var(--bs-light-border-subtle) 1px;
  padding: 0.3rem 1rem;
}

.center {
  justify-self: center;
}

.shrinkable {
  min-width: 0;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
