.row {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  column-gap: 0.5rem;
  border-bottom: solid 1px var(--bs-border-color);
  padding: 0.5rem 1rem;
  height: 150px;
}

.row.noExplanation {
  grid-template-columns: 1fr 1fr;
  height: 40px;
}

.row:hover {
  cursor: pointer;
}

.row.disabled {
  opacity: 0.7;
}

.row.disabled:hover {
  cursor: default;
}

.value {
  justify-self: end;
}

.explanation {
  overflow: hidden;
  text-overflow: ellipsis;
  height: calc(150px - 3em);
}

.row.selected {
  background-color: var(--bs-secondary-bg);
}

.link {
  color: var(--bs-body-color);
  text-decoration: none;
}

.link:hover {
  color: var(--bs-body-color);
}

.navigable {
}
